*{list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    background-color: #EBEBEB;
}
.header{
    width: 100%;
    height: 10%;
    background-color: #FFFFFF;
    transition: all .5s ease;
    position: fixed;
}

.sidebar{
    margin-top: 4%;
    width: 17.5%;
    height: 100%;
    background-color: #FFFFFF;
    transition: all .5s ease;
    position: fixed;
    margin: bottom 90%; 
    margin-top: 4%;
    
}
header{
    margin-left: 5%;
    margin-top: 17px;
    cursor: pointer;
    width: 128px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #5367E7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}
.svg_first{
    position: absolute;
    width: 1.5%;
    height: 32%;
    margin-left: 3%;
    top: 18%;
    background: #5367E7;
    border-radius: 4.30355px;
    bottom: 90%;
    padding: 5px 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

.minisidebar{
    border: 1px solid #DADADA;
    border-radius: 10px;
    display: flex;
    background: #FFFFFF;
    margin-top: 10px;
    margin-left: 15%;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 10px;
    height: 5.7%;
    width: 74%;
    margin-top: 5%;
}

h2{
    display: flex;
    gap: 7px;
    color: black;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    padding: 7px 7px;
    cursor: pointer;

}
.icons{
    display: flex;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    float: left;
}
.minisidebar2{
    margin-left: 25%;
    margin-top: 120%;
    gap: 10px;
}
    
.minisidebar3{
    margin-left: 25%;
    gap: 10px;
}
.last{
        display: flex;
        gap: 7px;
        color: red;
        font-family: 'Montserrat';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 15px;
        padding: 7px 7px;
}
.minisidebar:hover{
    background-color: #5367E7;
    width: 74%;
    height: 5.7%;
    border-radius: 10px;
    border: none;
    padding: 10px 10px 10px 10px;
    transition: .6 all;
    color: white;
}

